{% extends 'layout.html' %}

{% block content %}
<h2>Configurar Metodología para el Proyecto: {{ proyecto[2] }}</h2> <!-- Nombre del Proyecto -->

<form method="POST">
    <label for="metodologia">Elige una metodología:</label>
    <select name="metodologia" id="metodologia">
        {% for metodologia in metodologias %}
            <option value="{{ metodologia[0] }}"  
                {% if metodologia[0] == proyecto[6] %}  
                    selected
                {% endif %}
            >{{ metodologia[1] }}</option>  <!-- Nombre de la Metodología -->
        {% endfor %}
    </select>

    <button type="submit">Actualizar Metodología</button>
</form>
{% endblock %}
