<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notificaciones.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_user.css') }}">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js"></script>

</head>
<body>
    <div class="dashboard-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-header">
                <h2>Proyectos</h2>
            </div>
            <ul>
                <li><a href="{{ url_for('proyecto.dashboard') }}">Proyectos</a></li>
                <li><a href="{{ url_for('tarea.notificaciones') }}">Notificaciones</a></li>
    
                {% if session.get('role') == 'Líder de Proyecto' or session.get('role') == 'Administrador' %}
                    <li><a href="{{ url_for('usuario.register_user') }}">Registro Usuario</a></li>
                    <li><a href="{{ url_for('Informe.gestionar_informes') }}">Informes de Estado</a></li>
                    <li><a href="{{ url_for('metodologia.ver_proyectos') }}">Configurar Metodología</a></li>
                {% endif %}
    
                {% if session.get('role') == 'Administrador' %}
                    <li><a href="{{ url_for('Informe.gestionar_reportes') }}">Reportes</a></li>

                    <li><a href="{{ url_for('miembro.gestionar_usuarios') }}">Gestionar Miembros</a></li>
                {% endif %}
                <li><a href="{{ url_for('proyecto.cronograma') }}">Cronograma</a></li>
                <li><a href="{{ url_for('proyecto.flujo_tareas', id_usuario=session.get('idusuario')) }}">Flujo de Tareas</a></li>


            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <div class="header">
                <div class="stats">
                    <div class="stat-box">
                        <h3>Proyectos</h3>
                        <p>{{ proyectos|length }}</p> <!-- Muestra el total de proyectos -->
                    </div>
                    <div class="stat-box">
                        <h3>Activos</h3>
                        <p>{{ activos }}</p> <!-- Muestra el total de proyectos activos -->
                    </div>
                    <div class="stat-box">
                        <h3>Inactivos</h3>
                        <p>{{ inactivos }}</p> <!-- Muestra el total de proyectos inactivos -->
                    </div>
                </div>
                <div class="profile">
                </div>
            </div>

            <!-- Bloque para contenido específico de la página -->
            <div class="projects-section">
                {% block content %}
                <!-- Este es el lugar donde el contenido específico de cada página irá -->
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
